/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Variables */

// Colors
$soft-blue:         hsl(215, 51%, 70%);
$cyan:              hsl(178, 100%, 50%);
$blackish-blue:     hsl(217, 54%, 11%);
$very-dark-blue:    hsl(216, 50%, 16%);
$grayish-blue:      hsl(215, 32%, 27%);
$white:             hsl(0, 0%, 100%);

// Padding/Margin/Gap
$flex-gap: 0.5rem;

/* Elements */

html {
    font-family: "Outfit", sans-serif;
    
    background-color: $blackish-blue;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100dvh;

    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
    margin: auto 1rem;
    padding: 1rem;

    max-width: 300px;
    
    border-radius: 20px;
    
    background-color: $very-dark-blue;

    /* Elements */

    &__image-container {
        position: relative;
        overflow: hidden;
        
        border-radius: 10px;

        margin-bottom: 1.5rem;
    }
    
    &__image {
        display: block;
        width: 100%;
        height: auto;

        object-fit: contain;
    }

    &__image-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: rgba($cyan, 0.5);
    }

    &__title {
        font-size: 1.5rem;

        margin: 0 0 1rem 0;
        
        color: $white;
    }

    &__title-link {
        text-decoration: none;
        color: inherit;
    } 

    &__desc {
        margin-top: 0;
        color: $soft-blue;
    }

    // ETH & Days Left

    &__eth-days-wrapper, &__eth-wrapper, &__days-left-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $flex-gap;
    }

    &__eth-days-wrapper {
        margin-bottom: 1rem;
        
        border-bottom: 1px solid $grayish-blue;
    }

    &__eth-days-wrapper {
        justify-content: space-between;
    }

    &__eth-icon, &__days-left-icon {
        height: 1.2rem;
    }

    &__eth {
        color: $cyan;
    }

    &__days-left {
        color: $soft-blue;
    }
}

.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc($flex-gap * 2);

    /* Elements */

    &__avatar {
        height: 2rem;

        border-radius: 50%;
        border: 1px solid $white;
    }

    &__text {
        color: $soft-blue;
    }

    &__name {
        text-decoration: none;
        color: $white;
    }
}

/* Attribution */

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: $white;
}

.attribution a { 
    color: $cyan; 
}

@media (hover: hover) {
    a:hover, img:hover {
        cursor: pointer;
    }
    
    .hero__title:hover, .creator__name:hover {
        color: $cyan;
    }

    .hero__image-container:hover .hero__image-overlay {
        opacity: 1;
    }
}